:root {
    /*Variáveis CSS para facilitar a manutenção e reutilização de cores e fontes*/
    --branco-principal: #FFFFFF;
    --cinza-secundaria: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    /*Estilos globais do corpo da página*/
    background-color: var(--cor-de-fundo); /*Define a cor de fundo do corpo*/
    color: var(--branco-principal); /*Define a cor do texto*/
    font-family: var(--fonte-principal); /*Define a fonte principal*/
    font-size: 16px; /*Define o tamanho padrão da fonte*/
    font-weight: 400; /*Define o peso da fonte como normal*/
}

* {
    /*Remove o espaçamento padrão do navegador de todos os elementos*/
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png"); /*Define uma imagem de fundo*/
    background-repeat: no-repeat; /*Impede a repetição da imagem*/
    background-size: contain; /*Ajusta a imagem para caber dentro do elemento*/
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh; /*Define a aaltura total da tela*/
    display: grid; /*Define o container como grid*/
    grid-template-columns: 50% 50%;/*Divide o grid em duas colunas iguais*/
}

.container__botao {
    /*botão principal*/
    background-color: var(--botao-azul);/*Define a cor de fundo azul*/
    border-radius: 5px;/*Arredonda as bordas*/
    padding: 1em;/*Adiciona espaçamento interno*/
    color: var(--branco-principal);/*Define a cor do texto como branco*/
    display: block;/*Faz o botão ocupar toda a largura disponível*/
    text-decoration: none;/*Remove o sublinhado padrão de links*/
    margin-bottom: 1em; /*Adiciona um espaçamento em baixo do botão*/
}

.botao_secundario {
    /*botão secundário*/
    background-color: transparent;/*Define o fundo como transparente*/
    border: 2px solid var(--branco-principal);/*Define uma borda branca*/
}

.container__aviso {
    font-size: 12px; /*Define o tamanho para o texto*/
    color: var(--cinza-secundaria); /*Define a cor do texto*/
}

.container__titulo {
    font-size: 28px;/*Define o tamanho para o texto*/
    font-weight: 700;/*Define o texto como negrito*/
}

/* Define uma margem superior e inferior para a imagem dentro do container */
.container__imagem {
    margin: 1em 0 2em 0; /* 1em em cima, 2em embaixo, 0 nas laterais */
}

/* Aplica uma margem horizontal (esquerda e direita) no container */
.container__caixa {
    margin: 0 6em; /* 6em nas laterais e 0 em cima e embaixo */
}

/* Define a largura da imagem secundária como 80% do elemento pai */
.secundario__imagem {
    width: 80%;
}

/* Estiliza o container "secundario" */
.secundario {
    align-items: center; /* Centraliza os itens verticalmente no container */
    margin: 0 6em; /* 6em de margem nas laterais, 0 em cima e embaixo */
}

/* Define o estilo do título da descrição */
.descricao__titulo {
    font-weight: 700; /* Define o texto em negrito (peso 700) */
    font-size: 48px; /* Define um tamanho para a fonte */
    color: var(--branco-principal); 
    margin-bottom: 0.1em; /* Define margem inferior */
}


.descricao__texto {
    color: var(--cinza-secundaria); 
}


.botao__secundario {
    display: inline-block; /* Faz o botão se comportar como um bloco em linha */
    margin-top: 1em; /* Adiciona uma margem superior */
}

/* Aplica um espaçamento interno no container de descrição */
.container__descricao {
    padding: 2em; /* Adiciona 2em de espaçamento interno em todas as direções */
}